.App {
  text-align: center;
}

.noStyleLink {
  text-decoration: none;
  color: inherit;
}

.headerNav {
  display: flex;
  justify-content: center;
}

.headerNav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.markazi-display-title {
  font-family: 'Markazi Text', serif;
  font-size: 50pt;
  font-weight: 500;
}

.markazi-sub-title {
  font-family: 'Markazi Text', serif;
  font-size: 35pt;
  font-weight: 400;
}

/* Estilos para Karla */
.karla-lead-text {
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: 500;
}

.karla-section-title {
  font-family: 'Karla', sans-serif;
  font-size: 20pt;
  font-weight: 800;
  text-transform: uppercase;
}

.karla-specials {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: 800;
}

.karla-card-title {
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: 700;
}

.karla-paragraph {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.5;
  max-width: 65ch;
  /* 65 characters per line */
}

.karla-highlight {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: 500;
}